<%= form_with(model: @state, local: true) do |form| %>
  <div class="mb-3">
      <%= form.label :state_name, "State Name", class: "form-label" %>
      <%= form.text_field :state_name, class: "form-control" %>
  </div>
  <% if @state.new_record? %>
      <div class="mb-3">
          <%= form.label :board_id, "Board ID", class: "form-label" %>
          <%= form.text_field :board_id, class: "form-control" %>
      </div>
  <% else %>
      <div class="mb-3">
          <%= form.label :board_id, "Board ID", class: "form-label" %>
          <%= form.text_field :board_id, class: "form-control", readonly: true %>
      </div>
  <% end %>

  <%= form.submit "Save", class: "btn btn-primary" %>
<% end %>